@model GraphicalStationDataViewModel

@{
    ViewData["Title"] = "Home Page";
}

<h1>Приложение За Обработка На Метеорологични Данни</h1>

@if (Model != null)
{
    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Add weather data for station.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(m => m.StationName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.StationName, Model.StationNames, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.From, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.From, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.To, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.To, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ShowMinTemp, new { @class = "col-md-2 control-label" })
            <div class="col-md-1">
                @Html.CheckBoxFor(m => m.ShowMinTemp, new { @class = "form-control" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(m => m.ShowMaxTemp, new { @class = "col-md-2 control-label" })
            <div class="col-md-1">
                @Html.CheckBoxFor(m => m.ShowMaxTemp, new { @class = "form-control" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(m => m.ShowPrecipation, new { @class = "col-md-2 control-label" })
            <div class="col-md-1">
                @Html.CheckBoxFor(m => m.ShowPrecipation, new { @class = "form-control" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(m => m.ShowThunder, new { @class = "col-md-2 control-label" })
            <div class="col-md-1">
                @Html.CheckBoxFor(m => m.ShowThunder, new { @class = "form-control" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-primary" value="Изчисли" id="submit-btn" />
            </div>
        </div>
    }
}


<div><canvas id="lineChart"></canvas></div>

@if (ViewData["chart"] != null)
{
    ChartJSCore.Models.Chart chart = (ChartJSCore.Models.Chart)ViewData["chart"];

    @section Scripts {
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
        <script>
            @Html.Raw(chart.CreateChartCode("lineChart"));
        </script>
    }

}

